.card {
    display: flex;
    width: 7em;
    height: 8em;
    background-color: #928db5;
    border-radius: 10px;

    &.clickable {
        cursor: pointer;
    }

    &.found {
        background-color: #6c6290;
    }

    img {
        margin: auto;
        width: 100%;
        height: auto;
    }
}
